<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" >
    <test name="Cucumber tests">
        <classes>
            <!--set the relative path of the runner class-->
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
</suite>